<header>
  <h1>Example dirty change tracking</h1>

  <nav>
    <ul>
      <li><LinkTo class="transitionable" @route="routes.foo">Foo route</LinkTo></li>
      <li><LinkTo class="transitionable" @route="routes.bar">Bar route</LinkTo></li>
      <li>
        <button type="button" class="btn-link" {{on "click" this.refreshPage}}>
          Refresh page (browser's beforeunload)
        </button>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://github.com/sukima/ember-dirty-change-example">
          View the source code on GitHub
        </a>
      </li>
      <li>
        <a href="https://tritarget.org/#Easy%20dirty%20change%20confirmations%20in%20Ember">
          Read my blog post about how this works
        </a>
      </li>
      <li>
        <a href="https://discord.gg/emberjs">
          Ask <code>Sukima#0660</code> a question on Discord
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  {{outlet}}
</main>

<div id="application-modal" aria-live="assertive"></div>
